<div class="setup-wrap">
    <div class="title">
        <h1>
            SET UP YOUR PROFILE
        </h1>
    </div>

    <div class="form-wrap">
        <form action="" class="form-horizontal">
            <div class="form-group">
                <label for="enterName">Name</label>
                <input type="text" class="form-control" id="enterName" placeholder="First Name">
                <input type="text" class="form-control" placeholder="Last Name"> 
            </div>
        </form>
    </div>
</div>