<div class="Container parallax animated fadeIn">
    <div class="Home-Box">
        <div class="Home-Box-Inner">
            <h1 class="title animated zoomIn">
                ANIME VIEWER
            </h1>
            <button class="btn btn-lg viewList animated zoomIn"> View Anime List </button>
        </div>
    </div>
  
    <h1 class="featured">
        FEATURED ANIME
    </h1>
  
  
    <div class="container-fluid">
        <div class="viewTemp">
            <div class="row">
                <div class="animeTitle col-md-12">
                    <h3>
                        Attack On Titan
                    </h3>
                </div>
                <div class="col-md-5 animeView">
                    <div class="genre">
                        <strong>Genre:</strong> Action, History, Fantasy
                    </div>
  
                    <div class="desc">
                        <strong>Story:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio culpa
                        aut autem hic, cupiditate odit dolore
                        nobis minima tempora at eligendi itaque consequatur corrupti, iure praesentium ad rem ab in?
                    </div>
                    <button class="btn btn-md viewAnime"> View Anime</button>
                </div>
                <div class="col-md-7 animePicDefault animePicDefault1" id="animepic1"></div>
            </div>
        </div>
  
        <div class="viewTemp">
            <div class="row">
                <div class="animeTitle col-md-12">
                    <h3>
                        Naruto Series
                    </h3>
                </div>
                <div class="col-md-7 animePicDefault animePicDefault2" id="animepic2"></div>
                <div class="col-md-5 animeView">
                    <div class="genre">
                        <strong>Genre:</strong> Action, History, Fantasy
                    </div>
  
                    <div class="desc">
                        <strong>Story:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio culpa
                        aut autem hic, cupiditate odit dolore
                        nobis minima tempora at eligendi itaque consequatur corrupti, iure praesentium ad rem ab in?
                    </div>
                    <button class="btn btn-md viewAnime"> View Anime</button>
                </div>
            </div>
  
        </div>
  
        <div class="viewTemp">
            <div class="row">
                <div class="animeTitle col-md-12">
                    <h3>
                        Dragon Ball Series
                    </h3>
                </div>
                <div class="col-md-5 animeView">
                    <div class="genre">
                        <strong>Genre:</strong> Action, History, Fantasy
                    </div>
  
                    <div class="desc">
                        <strong>Story:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio culpa
                        aut autem hic, cupiditate odit dolore
                        nobis minima tempora at eligendi itaque consequatur corrupti, iure praesentium ad rem ab in?
                    </div>
                    <button class="btn btn-md viewAnime"> View Anime</button>
                </div>
                <div class="col-md-7 animePicDefault animePicDefault1" id="animepic3"></div>
            </div>
        </div>
  
        <div class="viewTemp">
            <div class="row">
                <div class="animeTitle col-md-12">
                    <h3>
                        Death Note
                    </h3>
                </div>
                <div class="col-md-7 animePicDefault animePicDefault2" id="animepic4"></div>
                <div class="col-md-5 animeView">
                    <div class="genre">
                        <strong>Genre:</strong> Action, History, Fantasy
                    </div>
  
                    <div class="desc">
                        <strong>Story:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio culpa
                        aut autem hic, cupiditate odit dolore
                        nobis minima tempora at eligendi itaque consequatur corrupti, iure praesentium ad rem ab in?
                    </div>
                    <button class="btn btn-md viewAnime"> View Anime</button>
                </div>
            </div>
  
        </div>
  
        <div class="viewTemp">
            <div class="row">
                <div class="animeTitle col-md-12">
                    <h3>
                        Your Lie In April
                    </h3>
                </div>
                <div class="col-md-5 animeView">
                    <div class="genre">
                        <strong>Genre:</strong> Action, History, Fantasy
                    </div>
  
                    <div class="desc">
                        <strong>Story:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio culpa
                        aut autem hic, cupiditate odit dolore
                        nobis minima tempora at eligendi itaque consequatur corrupti, iure praesentium ad rem ab in?
                    </div>
                    <button class="btn btn-md viewAnime"> View Anime</button>
                </div>
                <div class="col-md-7 animePicDefault animePicDefault1" id="animepic5"></div>
            </div>
        </div>
  
  
    </div>
    </div>